 
  html{
    font-size:  25px;
    font-family: monospace;
    color: white;
    
}

body{
    background-color:  #222831;
    /* margin-bottom: 12px; */
    /* padding: 100px; */
    /* margin : 100px; */
}
/* body, h1,h2,h3,h4,h5 {
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: 12px; */


/* } */ 

#name {
    /* background-color:#0F4C75 ;
     */
    background-color: rgb(232, 232, 232); 
    
    text-align: center;
    padding: 50px;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    line-height: 2;
    color:black;
}
.name{
  width:100%;
  overflow:hidden;
  
}
#name p{
    font-size: 25px;
    font-weight: bold;
    animation: name 5s;
    
}
@keyframes name {
    from {
      margin-left: 100%;
      width: 300%; 
    }
    to {
        margin-left: 0%;
        width: 100%;
      }
    }


#aboutme{
  
    line-height: 1.6;
    margin-left: 70px;
    font-size: 20px;
       
    }

#education{
    line-height: 2;
    margin-left: 70px; 
    font-size: 20px;
    padding: 70px;
}
#work{
    line-height: 2;
    margin-left: 70px; 
    font-size: 20px;
    padding: 70px;
    
}

.TopTenBooks{
    /* text-align: center; */
    padding: 70px;
    margin: 30px;
    font-size: 20px;
    line-height: 2;
    margin-left: 70px;

} 
.button {
    border-radius: 50px;
    background-color: #F05454;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: -70px;
    position: relative;
    float: right;
    margin-right: 50px;
    text-decoration: none;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  footer {
    background-color: rgb(232, 232, 232);
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 30px;
    margin: 10px;
    line-height: 2;
    color:black;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  .fa-github {
    background: #000000;
    color: white;
  }
  